<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Systém pro správu elektronických dokumentů" />
        <meta name="author" content="Hloušek" />
        <title>Přihlášení do systému | {control systemVariable nazev_firmy_kratky}</title>
        <link href="{$basePath}/admin-data/fontawesome/css/all.min.css" rel="stylesheet" type="text/css">

        <!-- Custom styles for this template-->
        <link href="{$basePath}/admin-data/css/styles.css" rel="stylesheet">
        <script src="{$basePath}/admin-data/js/jquery-3.6.0.min.js"></script>


        
    </head>
     <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">

                                    <div class="card-header">
                                        <h3 class="text-center font-weight-light mt-4">
                                            <li class="{control systemVariable FontAwesome_logo}"></i>{control systemVariable nazev_firmy_kratky}
                                    </div>
                                    <div class="card-body">
                                        {include content}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">{control systemVariable nazev_firmy_kratky} 2022</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>




        <script src="{$basePath}/js/netteForms.js"></script>
        <script src="{$basePath}/js/nette.ajax.js"></script> {* Nette Ajax depens on jQuery *}
    </body>
</html>
